// Fonts
.hepta {
	font-family: 'Hepta Slab', serif;
}

.roboto {
	font-family: 'Roboto', sans-serif;
}

// General 

body {
	font-family: 'Roboto', sans-serif;	
}

a {
	text-decoration: none;
	color: black;
	:hover {
		color: red;
	}
}

h1 {
	color: darkorange;
}

// Header Elements

.logo {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 180px;
  	padding-top: 14px;
}

nav {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	display: block;
	text-align: center;
	a{
		color: black;
		text-decoration: none;
	}
}

.hero-img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 80%;
}

// Footer Elements

.footer {
	display: flex;
	justify-content: space-evenly;
	// width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	background-color: #458a73;
	padding: 40px;

	.col-1 {
		padding-top: 20px;
		display: block;
		width: 25%;
		//background-color: grey;
	}

	.instagram-img {
		width: 27px;
    	vertical-align: middle;
	}
	.oakland-tag{
		display: block;
		text-align: center;
		color: white;
		font-weight: lighter;
		padding-top: 8px;
	}

	.oakland-img {
		width: 80px;
		display: block;
		margin: auto;
	}
}
