
h1 {
	color: orange;
}

.logo {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 220px;
}

nav {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	display: block;
	text-align: center;
}