
h1 {
	color: orange;
}

// Header Elements

.logo {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 180px;
  	padding-top: 14px;
}

nav {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	display: block;
	text-align: center;
	a{
		color: black;
		text-decoration: none;
	}
}

.hepta {
	font-family: 'Hepta Slab', serif;
}

.hero-img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 80%;
}

// Footer Elements

.footer {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	background-color: #458a73;
	padding: 40px;

	.col-1 {
		display: block;
		width: 25%;
		background-color: grey;
	}

	.oakland-img {
		width: 80%;
	}
}
